#   TOPIC  :-
# <font color= '#33ccff'>" Movies</font> classification <font color='#33ccff'>&</font>sentimental <font color='#33ccff'>analysis</font> 


# <font color= '#FA5858'>Analysis</font> are <font color='#FA5858'>done by</font>

# <font color= '#FFD700'>N</font>.<font color= '#FF1493'>S</font>.<font color= '#FFD700'>V</font>.<font color= '#FF1493'>R</font>.<font color= '#FFD700'>K</font> <font color='#FF1493'>B</font><font color= '#FFD700'>HARAT</font> b-tech(<font color='#33ccff'>CSE</font>)  <font color= '#8904B1'>201801270001</font>
# <font color= '#FFD700'>B</font>.<font color= '#FF1493'>V</font>.<font color= '#FFD700'>S</font>.<font color= '#FF1493'>G</font> <font color='#FFD700'>PRASANTH</font> b-tech(<font color='#33ccff'>CSE</font>)  <font color= '#8904B1'>201801330004</font>
# <font color= '#FFD700'>P</font>.<font color= '#FF1493'>V</font>.<font color= '#FFD700'>S</font> <font color='#FF1493'>S</font><font color= '#FFD700'>URAJ</font> </font> <font color= '#FF1493'>P</font><font color= '#FFD700'>URANJAY</font> b-tech(<font color='#33ccff'>CSE</font>)  <font color= '#8904B1'>201801330005</font>
# <font color= '#FFD700'>H</font>.<font color= '#FF1493'>P</font><font color= '#FFD700'>RASHANT</font> <font color='#FF1493'>G</font><font color= '#FFD700'>UPTA</font> </font> b-tech(<font color='#33ccff'>CSE</font>)  <font color= '#8904B1'>201801330022</font>

# <font color= '#006400'>Libraries</font> to be <font color= '#4682B4'>installed</font> and <font color= '#F4A460'>imported</font>:

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# <font color= '#F4A460'>Importing</font> <font color= '#4682B4'>Dataset</font>

## <font color= '#F7819F'>This</font> <font color= '#33ccff'>Dataset</font> is <font color= '#F7819F'>taken</font> from <font color= '#33ccff'>online</font>( <font color= '#FF1493'>source</font> = <font color= '#FFD700'>kaggle</font>)

In [4]:
data = pd.read_csv('movie_dataset (1).csv')
data

,show_id,type,title,director,cast,country,date_added,release_year,IMDB_Rating,duration,listed_in,description,review,sentiment
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,9.3,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,One of the other reviewers has mentioned that ...,positive
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,9.2,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,A wonderful little production. <br /><br />The...,positive
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,9.0,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",I thought this was a wonderful way to spend ti...,positive
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,5.0,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",Basically there's a family where a little boy ...,negative
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,9.0,123 min,Dramas,A brilliant group of students become card-coun...,"Petter Mattei's ""Love in the Time of Money"" is...",positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5494,s5495,TV Show,Sensitive Skin,NaN,"Kim Cattrall, Don McKellar, Nicolas Wright, Jo...",Canada,"December 1, 2019",2016,8.7,1 Season,TV Comedies,Davina and Al try to revamp their lives as the...,Sniper gives a true new meaning to war movies....,positive
5495,s5496,Movie,Seoul Searching,Benson Lee,"In-pyo Cha, Justin Chon, Jessika Van, Esteban ...","South Korea, China, United States","December 15, 2017",2015,3.6,109 min,"Comedies, Dramas, International Movies",Teens of Korean descent who were born and rais...,This is probably one of the worst movies ever ...,negative
5496,s5497,Movie,Septembers of Shiraz,Wayne Blair,"Adrien Brody, Salma Hayek, Shohreh Aghdashloo,...",United States,"August 24, 2020",2016,3.1,110 min,"Dramas, Thrillers","In post-revolution Tehran, a wealthy Jewish bu...","I thought Choke had potential, but I thought i...",negative
5497,s5498,Movie,"Septiembre, un llanto en silencio",Kenneth Müller,"Saúl Lisazo, Mario Zaragoza, Juan Pablo Olysla...",Guatemala,"March 10, 2018",2017,8.9,69 min,"Dramas, Independent Movies, International Movies","After a terrorist attack in Guatemala, a baby ...","This film is great. As often heard, it is inde...",positive
5498,s5499,Movie,Sergio,Greg Barker,"Wagner Moura, Ana de Armas, Brían F. O'Byrne, ...",United States,"April 17, 2020",2020,3.1,119 min,"Dramas, Independent Movies","Passions, ideals and bitter realities collide ...","Unlike the other spaghetti Westerns, this one ...",negative

In [5]:
data.shape

(5499, 14)

## To know if any <font color= '#8904B1'>NULL</font> is present

In [6]:
data.isnull().values.any()

True

## Data <font color= '#33ccff'>PreProcessing</font>  Steps

In [7]:
features = data.iloc[:,1:3]
features

         type                              title
0     TV Show                                 3%
1       Movie                              07:19
2       Movie                              23:59
3       Movie                                  9
4       Movie                                 21
...       ...                                ...
5494  TV Show                     Sensitive Skin
5495    Movie                    Seoul Searching
5496    Movie               Septembers of Shiraz
5497    Movie  Septiembre, un llanto en silencio
5498    Movie                             Sergio

[5499 rows x 2 columns]

In [8]:
features1 = data.iloc[:,8]
features1

0       9.3
1       9.2
2       9.0
3       5.0
4       9.0
       ...
5494    8.7
5495    3.6
5496    3.1
5497    8.9
5498    3.1
Name: IMDB_Rating, Length: 5499, dtype: float64

In [9]:
labels = data.iloc[:,data.columns == 'sentiment']
labels

     sentiment
0     positive
1     positive
2     positive
3     negative
4     positive
...        ...
5494  positive
5495  negative
5496  negative
5497  positive
5498  negative

[5499 rows x 1 columns]

In [10]:
dataset = pd.concat([features,features1, labels], axis = 1)
dataset

         type                              title  IMDB_Rating sentiment
0     TV Show                                 3%          9.3  positive
1       Movie                              07:19          9.2  positive
2       Movie                              23:59          9.0  positive
3       Movie                                  9          5.0  negative
4       Movie                                 21          9.0  positive
...       ...                                ...          ...       ...
5494  TV Show                     Sensitive Skin          8.7  positive
5495    Movie                    Seoul Searching          3.6  negative
5496    Movie               Septembers of Shiraz          3.1  negative
5497    Movie  Septiembre, un llanto en silencio          8.9  positive
5498    Movie                             Sergio          3.1  negative

[5499 rows x 4 columns]

In [59]:
X = dataset.iloc[:,0:3]
X

         type                              title  IMDB_Rating
0     TV Show                                 3%          9.3
1       Movie                              07:19          9.2
2       Movie                              23:59          9.0
3       Movie                                  9          5.0
4       Movie                                 21          9.0
...       ...                                ...          ...
5494  TV Show                     Sensitive Skin          8.7
5495    Movie                    Seoul Searching          3.6
5496    Movie               Septembers of Shiraz          3.1
5497    Movie  Septiembre, un llanto en silencio          8.9
5498    Movie                             Sergio          3.1

[5499 rows x 3 columns]

In [69]:
Y = dataset.iloc[:, dataset.columns == 'sentiment']
Y

      sentiment
0             1
1             1
2             1
3             0
4             1
...         ...
5494          1
5495          0
5496          0
5497          1
5498          0

[5499 rows x 1 columns]

## <font color= '#FF4500'>Encoding</font> <font color= '#4682B4'>Categorical</font> Data

In [72]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
dataset['sentiment'] = lb.fit_transform(dataset['sentiment'])
dataset

         type                              title  IMDB_Rating  sentiment
0     TV Show                                 3%          9.3          1
1       Movie                              07:19          9.2          1
2       Movie                              23:59          9.0          1
3       Movie                                  9          5.0          0
4       Movie                                 21          9.0          1
...       ...                                ...          ...        ...
5494  TV Show                     Sensitive Skin          8.7          1
5495    Movie                    Seoul Searching          3.6          0
5496    Movie               Septembers of Shiraz          3.1          0
5497    Movie  Septiembre, un llanto en silencio          8.9          1
5498    Movie                             Sergio          3.1          0

[5499 rows x 4 columns]

In [70]:
positive = dataset[dataset['sentiment'] == 1]
negative = dataset[dataset['sentiment'] == 1]
print('sentiment is positive   :' , positive.shape)
print('sentiment is negative  :' , negative.shape)

sentiment is positive   : (2721, 4)
sentiment is negative  : (2721, 4)

In [71]:
dataset.sentiment.value_counts()

0    2778
1    2721
Name: sentiment, dtype: int64

In [16]:
xData = dataset.iloc[:,0:3]
xData

         type                              title  IMDB_Rating
0     TV Show                                 3%          9.3
1       Movie                              07:19          9.2
2       Movie                              23:59          9.0
3       Movie                                  9          5.0
4       Movie                                 21          9.0
...       ...                                ...          ...
5494  TV Show                     Sensitive Skin          8.7
5495    Movie                    Seoul Searching          3.6
5496    Movie               Septembers of Shiraz          3.1
5497    Movie  Septiembre, un llanto en silencio          8.9
5498    Movie                             Sergio          3.1

[5499 rows x 3 columns]

In [17]:
yData = dataset.iloc[:, dataset.columns == 'sentiment']
yData

      sentiment
0             1
1             1
2             1
3             0
4             1
...         ...
5494          1
5495          0
5496          0
5497          1
5498          0

[5499 rows x 1 columns]

## Spliting the data into <font color= '##33ccff'>Training-Set</font> and <font color= '#FF1493'>Testing-set</font>

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train , y_test = train_test_split(xData,yData, test_size = 0.2 ,random_state = 1)

In [19]:
X_train.shape

(4399, 3)

In [20]:
X_test.shape

(1100, 3)

In [21]:
y_train.shape

(4399, 1)

In [22]:
y_test.shape

(1100, 1)

In [23]:
print(X_train)

         type                                   title  IMDB_Rating
2776    Movie                              Holly Star          3.0
3644    Movie                               Limitless          7.8
2275    Movie                              Free Willy          8.1
5154    Movie  ReMastered: Who Killed Jam Master Jay?          8.8
3119  TV Show            Jamtara - Sabka Number Ayega          8.3
...       ...                                     ...          ...
905     Movie                             Big Miracle          5.8
5192    Movie    Rhys Nicholson Live at the Athenaeum          4.6
3980  TV Show                  Masha's Spooky Stories          4.0
235   TV Show          A Taiwanese Tale of Two Cities          8.1
5157    Movie                                Remember          3.1

[4399 rows x 3 columns]

In [24]:
print(X_test)

         type                                              title  IMDB_Rating
4036    Movie                                            Menorca          3.0
4538    Movie                        NOVA: The Impossible Flight          4.7
3251    Movie                               Just The Way You Are          2.0
951     Movie                                    Black Hawk Down          7.6
3427  TV Show                                             KO One          4.0
...       ...                                                ...          ...
2461  TV Show                                             Goedam          3.0
2217  TV Show                      Food Wars!: Shokugeki no Soma          4.0
3178    Movie  Jimmy Carr: The Best of Ultimate Gold Greatest...          4.0
2702    Movie                                    Her Only Choice          7.8
3331    Movie                                KD (A) Karuppudurai          8.0

[1100 rows x 3 columns]

In [25]:
print(y_train)

      sentiment
2776          0
3644          1
2275          1
5154          1
3119          1
...         ...
905           0
5192          0
3980          0
235           1
5157          0

[4399 rows x 1 columns]

In [26]:
print(y_test)

      sentiment
4036          0
4538          0
3251          0
951           1
3427          0
...         ...
2461          0
2217          0
3178          0
2702          1
3331          1

[1100 rows x 1 columns]

## <font color= '#FF4500'> BALANCING</font> THE <font color= '##33ccff'>DATASET</font>

### <font color= '#00FF00'>UP</font>-<font color= '#00FF00'>SAMPLING</font>

In [31]:
new_data=dataset[dataset["IMDB_Rating"]==1].sample(0)

In [32]:
pd.concat([dataset,new_data])

         type                              title  IMDB_Rating  sentiment
0     TV Show                                 3%          9.3          1
1       Movie                              07:19          9.2          1
2       Movie                              23:59          9.0          1
3       Movie                                  9          5.0          0
4       Movie                                 21          9.0          1
...       ...                                ...          ...        ...
5494  TV Show                     Sensitive Skin          8.7          1
5495    Movie                    Seoul Searching          3.6          0
5496    Movie               Septembers of Shiraz          3.1          0
5497    Movie  Septiembre, un llanto en silencio          8.9          1
5498    Movie                             Sergio          3.1          0

[5499 rows x 4 columns]

In [34]:
up_sample_data=pd.concat([dataset,new_data])

In [35]:
up_sample_data.shape

(5499, 4)

In [36]:
up_sample_data['IMDB_Rating'].value_counts()

4.0    619
3.0    437
7.8    421
5.0    339
8.0    331
      ...
6.6      2
2.1      1
9.4      1
9.7      1
9.5      1
Name: IMDB_Rating, Length: 78, dtype: int64

In [37]:
up_sample_data['IMDB_Rating'].value_counts(normalize=True)

4.0    0.112607
3.0    0.079498
7.8    0.076587
5.0    0.061670
8.0    0.060215
         ...
6.6    0.000364
2.1    0.000182
9.4    0.000182
9.7    0.000182
9.5    0.000182
Name: IMDB_Rating, Length: 78, dtype: float64

###  <font color= '#228B22'>DOWN</font>-<font color= '#228B22'>SAMPLING</font>

In [42]:
dataset.IMDB_Rating.value_counts()

4.0    619
3.0    437
7.8    421
5.0    339
8.0    331
      ...
6.6      2
2.1      1
9.4      1
9.7      1
9.5      1
Name: IMDB_Rating, Length: 78, dtype: int64

In [48]:
dataset[dataset['IMDB_Rating']==0]

Empty DataFrame
Columns: [type, title, IMDB_Rating, sentiment]
Index: []

In [49]:
new_sample_data = dataset[dataset['IMDB_Rating']==0].sample(0)

In [50]:
dataset[dataset['IMDB_Rating']==1]

Empty DataFrame
Columns: [type, title, IMDB_Rating, sentiment]
Index: []

In [51]:
new_sample_data.shape

(0, 4)

In [53]:
down_scale_data=pd.concat([new_sample_data])

In [54]:
down_scale_data

Empty DataFrame
Columns: [type, title, IMDB_Rating, sentiment]
Index: []